{% extends "base.html.twig" %}

{% block title %}Route View{% endblock %}

{% block content %}
<div class="ui form">
    <div class="ui navigation">
        <a class="ui button primary" href="{{ path('log_run', { id: route.id }) }}"><i class="ui icon clock"></i> Log Run</a>
    </div>
    <table class="ui definition table">
        <tr>
            <td>Title</td>
            <td>{{ route.title }}</td>
        </tr>
        <tr>
            <td>Distance</td>
            <td>{{ route.meters }}m</td>
        </tr>
    </table>
</div>
{% endblock %}


